<!DOCTYPE html>
<html>
  <head>
    <title>Hat Pattern Generator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="blue">
      <h1>Pattern Generator</h1>
    </header>
    <div class="purple options">
      <h2>Size</h2>
      <p>Select your gauge and size.</p>
      <ul>
        <li>desired circumference</li>
        <li>rows per 4inces</li>
        <li>stitches per 4inches</li>
      </ul>
    </div>
    <div class="green options">
      <h2>Brim</h2>
      <p>Choose a brim</p>
      <div>
        <input type="radio" name="brim" value="fold-ribbed">Fold over ribbed</br>
        <input type="radio" name="brim" value="roll-stockinette">Roll up stockinette</br>
        <input type="radio" name="brim" value="braid-edge">Braided edge</br>
      </div>
    </div>
    <div class="green options">
      <h2>Body</h2>
      <p>Choose a body style</p>
      <div>
        <input type="radio" name="body" value="stockinette">stockinette</br>
        <input type="radio" name="body" value="ribbed">ribbed</br>
        <input type="radio" name="body" value="cabled">cabled</br>
        <input type="radio" name="body" value="moss">moss-stitch</br>
      </div>
    </div>
  </body>
</html>
