<!DOCTYPE html>
<html>
  <head>
    <title>Hat Pattern Generator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Pattern Generator</h1>
    <p>Select your gauge and size and we'll make a hat pattern for you</p>
    <div>
      <ul>
        <li>desired circumference</li>
        <li>rows per 4inces</li>
        <li>stitches per 4inches</li>
      </ul>
  </body>
</html>
