<!DOCTYPE html>
<html>
  <head>
    <title>Hat Pattern Generator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="blue">
      <h1>Pattern Generator</h1>
    </header>
    <div class="purple options">
      <h2>Size</h2>
      <p>Select your gauge and size.</p>
      <ul>
        <li>desired circumference</li>
        <li>rows per 4inces</li>
        <li>stitches per 4inches</li>
      </ul>
    </div>
    <div class="green options">
      <h2>Brim</h2>
      <p>Choose a brim</p>
      <ul>
        <li>Fold over ribbed</li>
        <li>Roll up stockinette</li>
        <li>Braided edge</li>
      </ul>
    </div>
    <div class="green options">
      <h2>Body</h2>
      <p>Choose a body style</p>
      <ul>
        <li>stockinette</li>
        <li>ribbed</li>
        <li>cabled</li>
        <li>moss-stitch</li>
      </ul>
    </div>
  </body>
</html>
